<div *ngIf="!file" class="dropzone" appDrag (fileDropped)="onImageDropped($event)">
  <div class="text-wrapper">
    <div class="centered">Drop Your image here</div>
  </div>
</div>

<div>
  <img *ngIf="file" [src]="file.url" width="500px" height="500px"  />
</div>
<div *ngIf="!file;else ohyes">
<p>Add an image Please</p>
</div>
<ng-template #ohyes>
<p>Click to upload the file</p>
</ng-template>

<button (click)="uploadImage()">Upload Image</button>
<p *ngIf="isFileUploading">Sed Lyf PLEASE ADD A BACKEND SERVER</p>
